<h2>Cours - version lecture</h1>
<ul class="slide-menu-items">
  <li class="slide-menu-item"><a href="../shell">Le shell bash</a></li>
  <li class="slide-menu-item"><a href="../git">GIT</a></li>
  <li class="slide-menu-item"><a href="../fichiers">Encodage des fichiers</a></li>
</ul>

<h2>Cours - version imprimable</h1>
<ul class="slide-menu-items">
  <li class="slide-menu-item"><a href="../shell/?print-pdf">Le shell bash</a></li>
  <li class="slide-menu-item"><a href="../git/?print-pdf">GIT</a></li>
  <li class="slide-menu-item"><a href="../fichiers/?print-pdf">Encodage des fichiers</a></li>
</ul>